user.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nom" type="xs:string"/>
        <xs:element name="prenom" type="xs:string"/>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="role" type="roleType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="roleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Admin"/>
      <xs:enumeration value="Directeur"/>
      <xs:enumeration value="Responsable de filière"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
